{% extends 'index.html' %}
{% block content %}
<style>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: white;
            margin-top: 2%;
            margin-left: 10%;
        }

        input[type="text"],
        input[type="number"],
        input[type="datetime-local"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button[type="submit"] {
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin: 0 auto;
            display: block;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }

        form {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            margin-left: 35%;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
            text-align: left;
        }

        .box {
        background-color: lightblue;
        padding: 12px;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 93%;
        border-radius: 2px;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        #totals-container {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
            margin-right: 20px;
            border: 3px solid red;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }

        .total-birds,
        .total-weight {
            flex-basis: 45%;
        }

    @media only screen and (max-width: 600px) {
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 5%;
        }

        h1 {
            color: white;
            margin-top: 5%;
            margin-left: 10%;
        }

        input[type="text"],
        input[type="number"],
        input[type="datetime-local"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button[type="submit"] {
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin: 0 auto;
            display: block;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }

        .box {
        background-color: lightblue;
        padding: 12px;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 87%;
        border-radius: 2px;
        }

    .button-container {
        text-align: center;
        margin-top: 20px;
    }
    #totals-container {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
            margin-right: 20px;
            border: 3px solid red;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }

    .total-birds,
    .total-weight {
            flex-basis: 40%;
    }

    }
</style>

<h1 align="center">Add Lifting</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div id="totals-container">
            <div class="box total-birds">
                <h3>Total Birds</h3>
                <p id="totalBirdsCount">0</p>
            </div>

            <div class="box total-weight">
                <h3>Total Weight</h3>
                <p id="totalWeightCount">0.00</p>
            </div>
    </div>
    <div id="boxCreation">
        <label for="numBoxes">Number of Boxes:</label>
        <input type="text" id="numBoxes" name="numBoxes" min="1" oninput="generateBoxes()">
    </div>

    <div id="boxContainer"></div>

    <div class="button-container">
        <button type="submit"  onclick="return assignBoxWithValue()">Submit</button>
    </div>
    <input type="hidden" id="hiddenTextBox" name="hiddenTextBox">
</form>

<script>
    function assignBoxWithValue(){
    var resString = "";
        var totalBirdsCount = 0;
        var totalWeightCount = 0.00;
        var numBoxes = document.getElementById("numBoxes").value;

        for (var i = 1; i <= numBoxes; i++) {
            var numBirdsInput = document.getElementById("boxNumBirds" + i);
            var weightInput = document.getElementById("boxWeight" + i);
            if(i==1)
                resString = i + "_" + numBirdsInput.value + "_" + weightInput.value;
                else
                  resString +=","+ i + "_" + numBirdsInput.value + "_" + weightInput.value;
    }
    //save this value to DB
        alert('test ' + resString)
        document.getElementById("hiddenTextBox").value  = resString;
        return true;
    }
    function generateBoxes() {
        var numBoxes = document.getElementById("numBoxes").value;
        var boxContainer = document.getElementById("boxContainer");

        boxContainer.innerHTML = '';

        for (var i = 1; i <= numBoxes; i++) {
            var box = document.createElement("div");
            box.className = "box";
            box.innerHTML = `
                <h3>Box ${i}</h3>
                <label for="boxNumBirds${i}">Number of Birds:</label>
                <input type="number" id="boxNumBirds${i}" name="boxNumBirds${i}" oninput="updateTotals()"><br>
                <label for="boxWeight${i}">Weight:</label>
                <input type="number" id="boxWeight${i}" name="boxWeight${i}" oninput="updateTotals()"><br>
            `;
            boxContainer.appendChild(box);
        }

        updateTotals();
    }

    function updateTotals() {
        var totalBirdsCount = 0;
        var totalWeightCount = 0.00;
        var numBoxes = document.getElementById("numBoxes").value;

        for (var i = 1; i <= numBoxes; i++) {
            var numBirdsInput = document.getElementById("boxNumBirds" + i);
            var weightInput = document.getElementById("boxWeight" + i);

            if (numBirdsInput && numBirdsInput.value !== "") {
                totalBirdsCount += parseInt(numBirdsInput.value);
            }

            if (weightInput && weightInput.value !== "") {
                totalWeightCount += parseFloat(weightInput.value);
            }
        }

        document.getElementById("totalBirdsCount").innerText = totalBirdsCount;
        document.getElementById("totalWeightCount").innerText = totalWeightCount.toFixed(2);
    }
</script>

{% endblock %}
