{% extends 'index.html' %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    h2 {
        color: white;
        text-align: center;
    }

    table {
        width: 98%;
        margin: 20px auto;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    td {
        background-color: white;
    }

    th {
        background-color: #f2f2f2;
        width: 45px;
    }

    .button {
        display: block;
        width: 200px;
        padding: 10px 0px;
        margin: 20px auto;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
    }

    .total-container {
        display: flex;
        justify-content: space-around;
        background-color: lightblue;
        border: 3px solid red;
        padding: 10px;
        border-radius: 5px;
        max-width: 750px;
        margin: 20px auto;
    }

    .total-container p {
        margin: 0;
    }

    .total-container .total-weight,
    .total-container .total-birds {
        margin: 10px;
    }

    @media only screen and (max-width: 600px) {
        table {
            width: 98%;
            margin-left: 5px;
            margin-right: 10px;
        }

        form {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.9);
    }

    form {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        max-width: 750px;
        margin: 20px auto;
    }
</style>
<h2>Box Wise Records</h2>
<form method="post">
    <table>
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Driver Name</th>
                <th>Vehicle No</th>
            </tr>
        </thead>
        <tbody>
            {% for record in box_wise_records %}
            <tr>
                <td>{{ record.Customer_Name }}</td>
                <td>{{ record.Driver_Name }}</td>
                <td>{{ record.Vehicle_No }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th style="width: 45px;">Box Number</th>
                <th style="width: 45px;">Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for box in box_wise_data %}
            <tr>
                <td>{{ box.box_number }}</td>
                <td>{{ box.weight }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="total-container">
        <p>Total Weight: {{ total_weight }}</p>
        <p>Total Birds: {{ total_birds }}</p>
    </div>

    <button type="submit" class="button">Submit</button>
</form>
{% endblock %}
