{% extends 'index.html' %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    h1 {
        color: white;
        text-align: center;
        margin-left: 10%;
    }

    table {
        width: 70%;
        margin: 30px auto;
        margin-left: 20%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: center;
    }
    td {
        background-color: white;
    }

    th {
        background-color: #f2f2f2;
    }
    .button {
        display: inline-block;
        padding: 8px 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 600px) {
        table {
            width: 100%;
            margin-left: 7px;
            margin-right: 7px;
        }

        h1 {
        color: white;
        text-align: center;
        margin-left: 30%;
    }

    }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.9);
    }

    .background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }


    .navbar {
      height: 100vh;
      width: 250px;
      background-color: lightgray;
      position: fixed;
      left: 0;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }

    .navbar a {
      padding: 10px;
      text-decoration: none;
      font-size: 18px;
      color: black;
      display: block;
      transition: 0.3s;
    }

    .navbar a:hover {
      background-color: #555;
    }

    .logo {
      text-align: center;
      margin-bottom: 20px;
    }

    .logo img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }

    .nav-links {
      padding: 0;
    }

    .menu {
      padding: 0;
    }

    .dropdown {
      display: none;
      padding-left: 20px;
    }

    .services:hover .dropdown {
      display: block;
    }

    .dropdown li {
      list-style-type: none;
    }

    .content {
      margin-left: 250px;
      padding: 16px;
    }

    @media screen and (max-width: 768px) {
      .navbar {
        width: 147%;
        height: auto;
        position: relative;
      }

      .navbar a {
        font-size: 16px;
      }

      .navbar .dropdown {
        display: none;
        position: static;
      }

      .navbar .services:hover .dropdown {
        display: none;
      }

      .content {
        margin-left: 0;
      }
    }

    .menu-bar {
      background-color: lightgray;
      padding: 10px 20px;
      width: 138%;
    }

    .menu-bar nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .menu-bar nav ul li {
      display: inline-block;

    }

    .menu-bar nav ul li a {
      text-decoration: none;
      color: black;
      font-size: 24px;
    }

    @media screen and (min-width: 769px) {
      .menu-bar {
        display: none;
      }
    }
    .button {
        display: inline-block;
        padding: 10px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<h1> Lifting Records</h1>
<table id="feedTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Customer Name</th>
            <th>Driver Name</th>
            <th>Vehicle No</th>
            <th>Total Boxes</th>
            <th>Total Birds</th>
            <th>Total Weight</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for record in lifting_records %}
        <tr>
            <td>{{ record.Date }}</td>
            <td>{{ record.Customer_Name }}</td>
            <td>{{ record.Driver_Name }}</td>
            <td>{{ record.Vehicle_No }}</td>
            <td>{{ record.box_count }}</td>
            <td>{{ record.total_birds }}</td>
            <td>{{ record.total_weight }}</td>
            <td><a href="{% url 'box_wise_data' id=record.id %}" class="button">Box Wise Data</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}